* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

ul li {
  max-width: 100%;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  background-color: whitesmoke;
  font-size: 30px;
  padding-left: 18px;
  padding-right: 18px;
}

.app {
  display: flex;
  flex-direction: column;
}

.header-h1 {
  font-size: 100px;
  color: tomato;
  opacity: 0.5;
  text-align: center;
  padding-bottom: 10px;
}

.todo-item--completed {
  text-decoration: line-through;
}

.todo-item--active {
  text-decoration: none;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  border: none;
  font-size: 20px;
  font-weight: normal;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 3px;
}

.todo-item input {
  width: 660%;
  text-align: center;
}

.todo-item button {
  background-color: rgb(245, 47, 40);
  border: none;
  color: white;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  border-radius: 50%;
  margin-right: 10px;
}

#button-complete {
  background-color: rgb(56, 173, 76);
  margin-left: 10px;
}

.todo-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 18px;
  margin-bottom: 10px;
}

.todo-info-item {
  margin-right: 10px;
}

.todo-form {
  display: flex;
  justify-content: center;
}

#todo-form-input {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  background: rgba(0, 0, 0, 0.003);
  border: none;
  box-shadow: 0 -1px 12px rgba(0, 0, 0, 0.5);
  font-size: 24px;
  margin-bottom: 15px;
  width: 900px;
  min-width: 200px;
  margin-right: 20px;
}

/* Footer */

.todo-footer {
  display: flex;
  justify-content: center;
}

.todo-footer button {
  margin-left: 10px;
  background-color: whitesmoke;
  border: none;
  font-size: 15px;
  margin-bottom: 10px;
}

.footer-info {
  font-size: 15px;
  color: dimgray;
  text-align: center;
}
